@font-face {
    font-family: NouveauFLF;
    src: url(/fonts/NouveauFLF.ttf);
}

body {
    font-size: 1.8em;
}
.clear {
    clear: both;
}
article.main {
    border-bottom: 1px solid #ccc;
}
h1 {
    font-size: 60px;
    line-height: 60px;
    font-family: "Patrick Hand SC", sans-serif;
    margin-bottom: 15px;
    font-weight: normal;
}
h2 {
    font-family: "Patrick Hand SC", sans-serif;
    font-size: 1.5em;
    line-height: 1.2em;
    margin-bottom: 0.5em;
    color: #444;
}
h3 {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 15px;
    font-family: serif;
    font-style: italic;
}
p {
    margin: 2.0em 0 0 0;
}
a:hover {
    text-decoration: none;
}
em {
    font-style: normal;
    font-weight: bold;
}
img.right {
    float: right;
    margin: 1.2em 0 1.2em 1.2em;
}
img.left {
    float: left;
    margin: 3.2em 1.2em 1.2em 0;
}
img.center {
    margin: 10px auto 25px auto;
    display: block;
}
#main-title {
    font-family: NouveauFLF;
    text-align: center;
}
input[name="flower.description"] {
    width: 25em;
}
.specialize-info {
    padding-top: 1.0em;
}
.calendar-info {
    padding-top: 0.5em;
}
.clipper-info {
    padding-top: 2.5em;
}
.announce-banner {
    font-family: "Patrick Hand SC";
    font-size: 2.0em;
    text-align: center;
    margin: 0;
    color: #444;
}

#map {
    height: 250px;
    width: 100%;
    margin: 3.0em auto 0 auto;
}

#news {
    margin: 1.5em 0 0.7em 0;
}

#gallery-container > div {
    float: left;
    margin: 0.5em 1.0em 0.5em 0;
}