@font-face {
    font-family: NouveauFLF;
    src: url(NouveauFLF.ttf);
}
@font-face {
    font-family: Fleurons;
    src: url(Fleurons.ttf);
}
body {
    font-size: 1.2em;
    line-height: 1.5em;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    background-color: white;
}
.clear {
    clear: both;
}
article.main {
    border-bottom: 1px solid #ccc;
}
h1 {
    font-size: 60px;
    line-height: 60px;
    font-family: Georgia, serif;
    margin-bottom: 15px;
    font-weight: normal;
}
h2 {
    font-family: 'Walter Turncoat';
    font-size: 1.5em;
    line-height: 1.2em;
    margin-bottom: 0.5em;
    color: #333;
}
h3 {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 15px;
    font-family: serif;
    color: #000;
    font-style: italic;
}
p {
    margin-bottom: 25px;
}
a: hover {
    text-decoration: none;
}
em {
    font-style: normal;
    font-weight: bold;
}
img.right {
    float: right;
    margin: 1.2em 0 1.2em 1.2em;
}
img.left {
    float: left;
    margin: 1.2em 1.2em 1.2em 0;
}
img.center {
    margin: 10px auto 25px auto;
    display: block;
}
pre.code {
    color: white;
    /*background-color: #522812;*/
    background-color: black;
    font-family: Consolas, "Courier New", monospace;
    font-size: 12px;
    line-height: 16px;
    padding: 5px;
    margin-bottom: 25px;
    background-repeat: no-repeat;
    background-position: top right;
}
.hs ol li {
    /*background-image: url(hs.jpg);*/
    background-color: black;
}
.hintbox {
    padding: 10px;
    background-color: #ffc;
    margin-bottom: 25px;
    background-image: url(http: //s3.amazonaws.com/lyah/note.jpg);
}
.label {
    white-space: nowrap;
    font-family: Consolas, "Courier New", monospace;
    font-size: 16px;
    padding: 0px 3px;
}
.function {
    background-color: #c00;
    color: white;
}
.type {
    background-color: #519179;
    color: white;
}
.class {
    background-color: #CC33CC;
    color: white;
}
.law {
    background-color: #99DDcc;
    color: black;
}
.fixed {
    white-space: nowrap;
    font-family: Consolas, "Courier New", monospace;
    background-color: #ddd;
    font-weight: normal;
    padding: 0px 3px;
    font-weight: bold;
}
#content {
    width: 800px;
    margin: 0px auto;
}
.bgwrapper {
    margin: 50px 0;
    background-color: white;
    padding: 25px 0 50px 0;
}
.dp-highlighter {
    width: auto !important;
}
.newsplash a.nostarchlink {
    color: white;
    text-decoration: underline;
}
.newsplash a.nostarchlink: hover {
    text-decoration: none;
}
.newsplash ul {
    margin-top: 14px;
    margin-bottom: 14px;
}
.errata {
    background-color: #ffeded;
    padding: 3px;
}
#main-title {
    font-family: NouveauFLF;
    text-align: center;
}
.tagline {
    color: #555;
    margin: 0 0 0.5em 0;
    font-size: 2.0em;
    text-align: center;
}
#map {
    height: 280px;
}
table {
    font-size: 0.8em;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
    padding-left: 1em;
    vertical-align: middle;
}
li:before {
    content: "•";
    vertical-align: middle;
    padding-right: 0.5em;
    font-size: 1.8em;
    color: #006600;
}
