@font-face {
    font-family: NouveauFLF;
    src: url(NouveauFLF.ttf);
}
body {
    font-size: 1.2em;
    line-height: 1.5em;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    background-color: white;
    color: #444;
}
.clear {
    clear: both;
}
article.main {
    border-bottom: 1px solid #ccc;
}
h1 {
    font-size: 60px;
    line-height: 60px;
    font-family: Georgia, serif;
    margin-bottom: 15px;
    font-weight: normal;
}
h1 img {
    height
}
h2 {
    font-family: 'Walter Turncoat';
    font-size: 1.5em;
    line-height: 1.2em;
    margin-bottom: 0.5em;
    color: #333;
}
h3 {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 15px;
    font-family: serif;
    color: #000;
    font-style: italic;
}
p {
    margin: 2.2em 0 0 0;
}
a:hover {
    text-decoration: none;
}
em {
    font-style: normal;
    font-weight: bold;
}
img.right {
    float: right;
    margin: 1.2em 0 1.2em 1.2em;
}
img.left {
    float: left;
    margin: 1.2em 1.2em 1.2em 0;
}
img.center {
    margin: 10px auto 25px auto;
    display: block;
}
#content {
    width: 960px;
    margin: 0px auto;
}
#main-title {
    font-family: NouveauFLF;
    text-align: center;
}
.tagline {
    color: #555;
    margin: 0 0 0.5em 0;
    font-size: 2.0em;
    text-align: center;
}
#map {
    height: 300px;
    width: 50%;
    float: left;
    margin-right: 3%;
}
table {
    font-size: 0.8em;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
    padding-left: 1em;
    vertical-align: middle;
}
li:before {
    content: "•";
    vertical-align: middle;
    padding-right: 0.5em;
    font-size: 1.8em;
    color: #006600;
}
